<meta http-equiv="refresh" content="6000;URL='/'"/>
<script src="node_modules/sparkline/lib/sparkline.js"></script>
<br/>
<div class="container-fluid">
    <!--
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Alerts</li>
      </ol>
    -->

    <!--<div class="jumbotron">
      <h1 class="display-3">Notifications</h1>
      <p class="lead">Live Alerts of Unusual Activity in Volumes Traded </p>
      <hr class="my-4">
      <p>Last scanned was done on {{momentAgo}} - <span class="badge badge-primary badge-pill">{{timeAgo}}</span></p>
      <p class="lead">
        <button (click)="doAction()" type="button" class="btn btn-primary btn-lg">
          Scan markets now >>
        </button>-->
    <!--    <button (click)="clearLastToast()" type="button" class="btn btn-primary btn-lg">
          Clear Last Alert >>
        </button>-->
    <!--    <button (click)="clearToasts()" type="button" class="btn btn-primary btn-lg">
          Clear Alerts >>
        </button>-->
    <!--
      </p>
    </div>
    -->


    <!--
    <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-1">
          <small>Toast Controls:</small>
        </p>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3">
            <button (click)="openToast()" type="button" class="btn btn-primary btn-block">
              Open Toast
            </button>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
            <button (click)="clearLastToast()" type="button" class="btn btn-outline-primary btn-block">
              Clear Last Toast
            </button>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
            <button (click)="clearToasts()" type="button" class="btn btn-outline-primary btn-block">
              Clear All Toasts
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
    -->

    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">

                <div class="form-row">
                    <div class="col">

                        <div class="input-group mx-sm-2 mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-nowrap" for="alerts-field"><i class="fa fa-bell fa-1x" aria-hidden="true"></i>&nbsp; Alerts</span>
                            </div>
                                <input type="number" disabled class="form-control" id="alerts-field" [value]="stocks?.length || '0'">
                                <!--<span class="badge badge-light">{{ stocks?.length || '0' }}</span>-->
                        </div>

                    </div>
                    <div class="col">

                        <div class="input-group mx-sm-2 mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="symbol-field"><i class="fa fa-usd fa-1x" aria-hidden="true"></i>&nbsp; Symbol</label>
                            </div>
                            <select class="custom-select" id="symbol-field" [(ngModel)]="symbol" aria-label="symbol" aria-describedby="symbol-field"
                                    (change)="onSymbolChange()">
                                <option selected value="">-- All Symbols --</option>
                                <option *ngFor="let symbol of symbols" [ngValue]="symbol.symbol">{{symbol.symbol}} - {{symbol.name}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col">

                        <div class="input-group mx-sm-2 mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text text-nowrap" for="time-field"><i class="fa fa-hourglass-end fa-1x" aria-hidden="true"></i>&nbsp; Minutes</label>
                            </div>
                            <input type="number" class="form-control input-sm" [(ngModel)]="time" id="time-field" (change)="refreshData()">
                        </div>

                    </div>
                    <div class="col">

                        <div class="input-group mx-sm-2 mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text text-nowrap" for="volume-field"><i class="fa fa-balance-scale fa-1x" aria-hidden="true"></i>&nbsp; Volume%</label>
                            </div>
                            <input type="number" class="form-control input-sm" [(ngModel)]="ndvol" id="volume-field" (change)="refreshData()">
                        </div>

                    </div>
                    <div class="col">

                        <div class="input-group mx-sm-2 mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text text-nowrap" for="ndprange-field"><i class="fa fa-money fa-1x" aria-hidden="true"></i>&nbsp; P.Range%</label>
                            </div>
                            <input type="number" class="form-control input-sm" [(ngModel)]="ndprange" id="ndprange-field" (change)="refreshData()">
                        </div>


<!--                        <button type="button" class="btn btn-primary">
                            Alerts <span class="badge badge-light">{{ stocks?.length || '0' }}</span>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Time <span class="badge badge-light">{{time}}mins</span>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Volume % <span id="nd_volume_limit" class="badge badge-light">{{ndvol}}</span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            Price Range % <span class="badge badge-light">{{ndprange}}</span>
                        </button>-->
                    </div>
                </div>

                <!--<form [formGroup]="form1">-->

                <!--</form>-->

            </div>
        </div>
    </div>


    <div *ngIf="stocks && stocks.length > 0; else templateName">
        <div class="row">
            <div class="col-12">

                <!--START: Alert List -->
                <div *ngFor="let alert of stocks; let i = index" [attr.data-index]="i" class="row" (onCreate)="getSparkline(alert.symbol)">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="badge badge-pill">
                                    <i class="font-weight-bold fa fa-arrow-up fa-2x text-success"
                                       aria-hidden="true"></i>&nbsp;
                                    <span class="font-weight-bold h5"> {{alert.symbol}}</span>&nbsp;&nbsp;&nbsp;
                                    <span class="text-muted h5">{{alert.name}}</span>
                                    {{sparklineHtml}}
                                </div>
                                <div class="badge badge-light float-right">
                                    <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i>
                                    {{alert.date | amCalendar }}
                                </div>
                            </div>

                            <div class="card-body">
                                <h6 class="card-title text-justify text-primary">
                                    <div class="row">
                                        <div class="col">
                                            <i class="fa fa-balance-scale fa-1x" aria-hidden="true"></i>&nbsp;
                                            Volume: {{ alert.latestVolume | number }} ({{alert.normalDist_Volume | percent: '2.2' }})
                                        <!--</div>-->
                                        <!--<div>&nbsp; | &nbsp;</div>-->&nbsp; | &nbsp;
                                        <!--<div class="col">-->
                                            <i class="fa fa-money fa-1x" aria-hidden="true"></i>
                                            Price Range: ${{alert.pRange | number}} ({{alert.normalDist_PRange | percent: '2.2'}})
                                        </div>
                                    </div>
                                </h6>
                                <div *ngIf="alert.news">
                                    <h6 class="card-subtitle mb-2"><i
                                            class="fa fa-newspaper-o fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;{{alert.headline}}
                                    </h6>
                                    <p class="card-text text-muted">
                                        {{alert.summary}}
                                        <button type="button" class="card-link badge badge-primary text-right" (click)="open(alert.url)">
                                            <i class="fa fa-external-link fa-1x" aria-hidden="true"></i>&nbsp;
                                            {{alert.source}}
                                        </button>
                                    </p>

                                    <!-- Button trigger modal -->
<!--                                                    <button type="button" class="card-link badge badge-primary text-right" data-toggle="modal" data-target="'#modal' + i" (click)="open({{content}})">
                                        <i class="fa fa-external-link fa-1x" aria-hidden="true"></i>&nbsp;
                                        {{alert.source}}
                                    </button>-->

                                </div>
                            </div>
<!--                            <div class="card-footer">
                                <a href="#" class="card-link">{{alert.related | split : ','}}</a>
                            </div>-->


                            <!-- Modal -->
                            <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal title</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>One fine body&hellip;</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <!-- End: Modal -->

                        </div>
                    </div>
                    <div class="col-12" style="height:20px;"></div>
                </div>
                <!--END: Alert List -->

            </div>
            <div class="col-7">

                <div class="well">.</div>
            </div>
        </div>
    </div>

    <ng-template #templateName>

        <div class="alert alert-primary text-center" role="alert">
            <h4><i class="fa fa-feed fa-3x text-primary"></i><br/> No current alerts found. <br/><br/><br/> Listening for live alerts ...</h4>

            <div class="sk-wave text-primary">
                <div class="sk-rect sk-rect1 bg-primary"></div>
                <div class="sk-rect sk-rect2 bg-primary"></div>
                <div class="sk-rect sk-rect3 bg-primary"></div>
                <div class="sk-rect sk-rect4 bg-primary"></div>
                <div class="sk-rect sk-rect5 bg-primary"></div>
            </div>
            <br/>
            <h6 class="text-primary"><i class="fa fa-info-circle fa-1x text-primary"></i> Alerts feeds are received only during New York Stock Exchange (NYSE) market opening hours <br/> (Monday through Friday, 9:30 a.m. to 4:00 p.m. EST)</h6>
        </div>

    </ng-template>


</div>
